body {
    font-family: 'Cutive', serif;
}

.hive { 
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 800px; /* Need a specific value to work */
  text-align: center;
  margin-top: 200px;
}
.hive img { 
    width: 50%;
}

.hive div { 
    position: absolute;
}

.bee { 
    left: 44px;
}

.gitter { 
    top: 240px;
    left: 134px;
}

.github { 
    left: 227px;
}
 
.twitter { 
    top: 239px;
    left: 319px;
}

.brutus {
    left: 412px; 
}

.website { 
    top: 450px; 
    left: 333px;
    position: absolute;

}
